<!--component html goes here -->
<h1>Job List</h1>
<button class="btn">Add Project</button>
<clr-datagrid>
        <clr-dg-column>
            Job #
            <clr-dg-string-filter [clrDgStringFilter]="jobFilter"></clr-dg-string-filter>
        </clr-dg-column>
        <clr-dg-column>Work Center</clr-dg-column>
        <clr-dg-column>Mutual</clr-dg-column>
        <clr-dg-column>Title</clr-dg-column>
        <clr-dg-column>Budget Year</clr-dg-column>
        <clr-dg-column [clrDgField]="'budget'" [clrDgSortOrder]="descSort">Budget</clr-dg-column>
        <clr-dg-column [clrDgField]="'balance'" [clrDgSortOrder]="descSort">Balance</clr-dg-column>
        <clr-dg-column [clrDgField]="'bud_committed'" [clrDgSortOrder]="descSort">Committed</clr-dg-column>
        <clr-dg-column [clrDgField]="'bud_uncommitted'" [clrDgSortOrder]="descSort">Uncommitted</clr-dg-column>
    
        <clr-dg-row *clrDgItems="let job of jobs" [clrDgItem]="job">
            <clr-dg-cell><a [routerLink]="['/jobs', job.proj_id]">{{job.job_num}}</a></clr-dg-cell>
            <clr-dg-cell>{{job.work_center}}</clr-dg-cell>
            <clr-dg-cell>{{job.mutual}}</clr-dg-cell>
            <clr-dg-cell>{{job.job_title}}</clr-dg-cell>
            <clr-dg-cell>{{job.year}}</clr-dg-cell>
            <clr-dg-cell>{{job.budget | currency}}</clr-dg-cell>
            <clr-dg-cell>{{job.balance | currency}}</clr-dg-cell>
            <clr-dg-cell>{{job.bud_committed | currency}}</clr-dg-cell>
            <clr-dg-cell>{{job.bud_uncommitted | currency}}</clr-dg-cell>
        </clr-dg-row>
    
        <clr-dg-footer>
                <clr-dg-pagination #pagination [clrDgPageSize]="15">
                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                    of {{pagination.totalItems}} jobs
                    </clr-dg-pagination>
                
            </clr-dg-footer>
    </clr-datagrid>