<clr-main-container>
        <div class="alert alert-app-level">
          beta {{version}}
        </div>
        <clr-header class="header header-5">
            <div class="branding">
                <a routerLink="/" class="nav-link">
                  <clr-icon shape="line-chart" class="is-inverse" ></clr-icon>
                  <span class="title">Project Costing
                  </span>
                </a>
        </div>
        <div class="header-nav">
                <a routerLink="/jobs" routerLinkActive="active" class="nav-link nav-text">Jobs</a>
                <a routerLink="/invoices" routerLinkActive="active" class="nav-link nav-text">Invoices</a>
                <a routerLink="/requisitions" routerLinkActive="active" class="nav-link nav-text">Requisitions</a>
            </div>
        <div class="header-actions" *ngIf="userInfo"> 
          <clr-dropdown>
          <button class="nav-text" clrDropdownTrigger>
           {{userInfo.first_name}} {{userInfo.last_name}}
              <clr-icon shape="caret down"></clr-icon>
          </button>
           <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
              <button type="button" clrDropdownItem [routerLink]="['/jobs']" [queryParams]="{un: userInfo.user_name}">
                My Jobs
                </button>
            
          </clr-dropdown-menu>
      </clr-dropdown>
      </div>
      
        </clr-header>

                <router-outlet></router-outlet>

            </clr-main-container>
    