<section>
<h1>Whats New in {{version}}</h1>
        <hr>
        <div class="clr-row">
                <div class="clr-col-lg-12 clr-col-md-12 clr-col-12">
                    <div class="card summary-block">
                        <div class="card-block">
                        <div class="summary-block">
                                <p class="summary-block-title">Updates</p>
                                <p class="summary-block-details"><span class="count">5</span> New Updates</p>
                    </div>
                    
                    <div class="summary-block">
                            <p class="summary-block-title">Bugs</p>
                            <p class="summary-block-details"><span class="count">1</span> Bug Fix </p>
                </div>
                <div class="summary-block">
                        <p class="summary-block-title">Released</p>
                        <p class="summary-block-details">Jan 18, 2019 </p>
            </div>
                        
                        
                        </div>

                    </div>
                </div>
            </div>
            <h2>New Updates</h2>
            <ul class="list-unstyled">
                <li>
                        <h6>Authentication</h6>
                        <p>This application is now guarded against unauthorized users. 
                            If a user needs access please send an email to <a href="mailto:derek.campanile@vmsinc.org">derek.campanile@vmsinc.org</a> to have a user added
                                    </p>
                </li>
                <li>
                        <h6>Individual Invoice and Requisition Management</h6>
                        <p>
                            Invoices and Requisitions can now be accessed outside of their parent Job. This is useful in the event that an invoice has been assigned to the wrong job, or requisition assigned to the incorrect budget year. 
                            As a reminder, the only field editable in a requisition is the budget year. 
                        </p>

                                    
                </li>
                <li>
                        <h6>Search</h6>
                        <p>
                            You can now search for jobs, requisitions and invoices within each component. 
                            Jobs can be searched by Job Number, Invoices by Invoice Number and Requisition by Requisition Number. 
                        </p>

                                    
                </li>
                <li>
                        <h6>"My Jobs" Feature</h6>
                        <p>
                           Jobs that are assigned to you can be access using the "My Jobs" Link located under your name in the upper right, or from the Jobs component sub-menu.
                        </p>

                                    
                </li>
                <li>
                        <h6>Job Assignment dropdown</h6>
                        <p>
                            <img src="../../assets/images/user-dropdown-feature-beta-095-01.JPG">
                        </p>
                        <p>
                           You can now select the name of an authenticated user from the New Job, or Edit Job wizard. These jobs will instantly appear in the "My Jobs" section for that user. 
                        </p>

                                    
                </li>
            </ul>
            <h2>Bug Fixes</h2>
            <ul class="list-unstyled">
                <li>
                        <h6>First Time User Experience</h6>
                        <p>Fixed the issue where an authenticated user gets a blank page upon first time accessing the application.</p>
                </li>
                
            </ul>
        </section>