<!--component html goes here -->
<section class="wrapper" *ngIf="job">
<h1>{{job.job_num}}</h1>
    <clr-datagrid>
        <clr-dg-column>id</clr-dg-column>
        <clr-dg-column>Name</clr-dg-column>
        <clr-dg-column>Description</clr-dg-column>
        <clr-dg-column>Location</clr-dg-column>
        <clr-dg-column>GL Code</clr-dg-column>
        <clr-dg-column>PO #</clr-dg-column>
        <clr-dg-column>Amount</clr-dg-column>
    
        <clr-dg-row *clrDgItems="let req of job['requisitions']" [clrDgItem]="reqs">
            <clr-dg-cell>{{req.line_num}}</clr-dg-cell>
            <clr-dg-cell>{{req.line_name}}</clr-dg-cell>
            <clr-dg-cell>{{req.req_desc}}</clr-dg-cell>
            <clr-dg-cell>{{req.location}}</clr-dg-cell>
            <clr-dg-cell>{{req.gl_code}}</clr-dg-cell>
            <clr-dg-cell>{{req.po_num}}</clr-dg-cell>
            <clr-dg-cell>{{req.amount | currency}}</clr-dg-cell>
        </clr-dg-row>
    
        <clr-dg-footer>
                <clr-dg-pagination #pagination1 [clrDgPageSize]="20">
                    {{pagination1.firstItem + 1}} - {{pagination1.lastItem + 1}}
                    of {{pagination1.totalItems}} requisitions
                    </clr-dg-pagination>
                
            </clr-dg-footer>
    </clr-datagrid>
    
    <clr-datagrid>
            <clr-dg-column>id</clr-dg-column>
            <clr-dg-column>Invoice #</clr-dg-column>
            <clr-dg-column>Description</clr-dg-column>
            <clr-dg-column>Net Amount</clr-dg-column>
            <clr-dg-column>Approved Amount</clr-dg-column>
            <clr-dg-column>Paid</clr-dg-column>
            <clr-dg-column>Change Order</clr-dg-column>
        
            <clr-dg-row *clrDgItems="let inv of job['invoices']" [clrDgItem]="invs">
                <clr-dg-cell>{{inv.line_num}}</clr-dg-cell>
                <clr-dg-cell>{{inv.inv_num}}</clr-dg-cell>
                <clr-dg-cell>{{inv.line_name}}</clr-dg-cell>
                <clr-dg-cell>{{inv.net_amount | currency}}</clr-dg-cell>
                <clr-dg-cell>{{inv.appr_amount | currency}}</clr-dg-cell>
                <clr-dg-cell>{{inv.is_paid}}</clr-dg-cell>
                <clr-dg-cell>{{inv.is_change_order}}</clr-dg-cell>
                
            </clr-dg-row>
        
            <clr-dg-footer>
                    <clr-dg-pagination #pagination2 [clrDgPageSize]="20">
                        {{pagination2.firstItem + 1}} - {{pagination2.lastItem + 1}}
                        of {{pagination2.totalItems}} invoices
                        </clr-dg-pagination>
                    
                </clr-dg-footer>
        </clr-datagrid>
</section>