
<div style="margin-top: -30px;" class="content-container">
    <div class="content-area">
        <section class="wrapper" *ngIf="job && project">
                <h1>{{job.job_title}}</h1>
                <span class="label label-info">{{job.job_num}}</span>
                <span class="label label-info">{{job.mutual}}</span>
                <div class="row">
                        <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="card-header">
                                        Balance: {{project.live_balance | currency}}   
                                </div>
                                <div class="card-block">
                                    <div class="card-title">
                                            Budget: {{job.budget | currency}}
                                    </div>
                                    <div class="card-text">
                                        
                                        <span>Committed: {{project.live_committed | currency}} <br></span>
                                        <span>Uncommitted: {{project.live_uncommitted | currency}}<br></span>
                                        <span>Expended: {{project.live_expended | currency}}<br></span>
                                    </div>
                                </div>
                                <div class="card-footer">
                                        <button class="btn btn-outline" (click)="editJobWiz()">Edit Job</button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

        </section>

        <clr-tabs style="margin-top: 5px;">
        <clr-tab>
                <button clrTabLink id="requisitions">Requisitions</button>

                <clr-tab-content *clrIfActive="true">
                    <section class="wrapper" *ngIf="job">
                        <clr-datagrid>
                            <clr-dg-column>Requisition</clr-dg-column>
                            <clr-dg-column>Line</clr-dg-column>
                            <clr-dg-column>Name</clr-dg-column>
                            <clr-dg-column>Description</clr-dg-column>
                            <clr-dg-column>Budget Year</clr-dg-column>
                            <clr-dg-column>GL Code</clr-dg-column>
                            <clr-dg-column>PO #</clr-dg-column>
                            <clr-dg-column>Amount</clr-dg-column>

                            <clr-dg-row *clrDgItems="let reqs of job['requisitions']" [clrDgItem]="reqs">
                                <clr-dg-action-overflow>
                                        <button class="action-item" (click)="setReqYear(reqs)">Add To Budget Year</button>
                                    <button class="action-item" (click)="openReqModal(reqs)">Change Budget Year</button>
                                                                    </clr-dg-action-overflow>
                                <clr-dg-cell>{{reqs.req_num}}</clr-dg-cell>
                                <clr-dg-cell>{{reqs.line_num}}</clr-dg-cell>
                                <clr-dg-cell>{{reqs.line_name}}</clr-dg-cell>
                                <clr-dg-cell>{{reqs.req_desc}}</clr-dg-cell>
                                <clr-dg-cell>{{reqs.budget_year}}</clr-dg-cell>
                                <clr-dg-cell>{{reqs.gl_code}}</clr-dg-cell>
                                <clr-dg-cell>{{reqs.po_num}}</clr-dg-cell>
                                <clr-dg-cell>{{reqs.amount | currency}}</clr-dg-cell>
                            </clr-dg-row>

                            <clr-dg-footer>
                                <clr-dg-pagination #pagination1 [clrDgPageSize]="20">
                                    {{pagination1.firstItem + 1}} - {{pagination1.lastItem + 1}}
                                    of {{pagination1.totalItems}} requisitions
                                </clr-dg-pagination>

                            </clr-dg-footer>
                        </clr-datagrid>
                    </section>
                </clr-tab-content>
            </clr-tab>
            <clr-tab>
                <button clrTabLink id="invoices">Invoices</button>
                

                <clr-tab-content *clrIfActive="true">
                        <button style="margin-top: 10px" class="btn btn-sm" (click)="openWizard()">Add Invoice</button>
                    <section class="wrapper" *ngIf="job">
                        <clr-datagrid style="margin-top: -15px">
                            <clr-dg-column>Invoice #</clr-dg-column>
                            <clr-dg-column>Invoice Date</clr-dg-column>
                            <clr-dg-column>Description</clr-dg-column>
                            <clr-dg-column>PO #</clr-dg-column>
                            <clr-dg-column>Net Amount</clr-dg-column>
                            <clr-dg-column>Approved Amount</clr-dg-column>
                            <clr-dg-column>Paid</clr-dg-column>
                            <clr-dg-column>Change Order</clr-dg-column>
                            <clr-dg-row *clrDgItems="let inv of job['invoices']" [clrDgItem]="inv">
                                <clr-dg-action-overflow>
                                    <button class="action-item" (click)="editInvWiz(inv)">Edit</button>
                                    <button class="action-item" (click)="confirmInv(inv)">Delete</button>
                                </clr-dg-action-overflow>
                                <clr-dg-cell>{{inv.inv_num}}</clr-dg-cell>
                                <clr-dg-cell>{{inv.inv_date | date:'shortDate' }}</clr-dg-cell>
                                <clr-dg-cell>{{inv.line_name}}</clr-dg-cell>
                                <clr-dg-cell>{{inv.po_num}}</clr-dg-cell>
                                <clr-dg-cell>{{inv.net_amount | currency}}</clr-dg-cell>
                                <clr-dg-cell>{{inv.appr_amount | currency}}</clr-dg-cell>
                                <clr-dg-cell>{{inv.is_paid}}</clr-dg-cell>
                                <clr-dg-cell>{{inv.is_change_order}}</clr-dg-cell>
                            </clr-dg-row>
                            <clr-dg-footer>
                                <clr-dg-pagination #pagination2 [clrDgPageSize]="20">
                                    {{pagination2.firstItem + 1}} - {{pagination2.lastItem + 1}}
                                    of {{pagination2.totalItems}} invoices
                                </clr-dg-pagination>
                            </clr-dg-footer>
                        </clr-datagrid>
                    </section>
                </clr-tab-content>
            </clr-tab>
        </clr-tabs>
    </div>
</div>
<clr-wizard #invWizard [(clrWizardOpen)]="invOpen" clrWizardSize="lg" (clrWizardOnFinish)="createInv()">
    <clr-wizard-title>New Invoice</clr-wizard-title>
    <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
    <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>
    <clr-wizard-page *ngIf="job && newInv">
        <ng-template clrPageTitle>Invoice Information</ng-template>
        <form clrForm horizontal>
            <div class="toggle-switch">
                <input type="checkbox" [(ngModel)]="newInv.is_change_order" name="is_change_order" id="toggle_1">
                <label for="toggle_1">Change Order</label>
            </div>
            <clr-input-container>
                <label>Invoice #</label>
                <input clrInput type="text" [(ngModel)]="newInv.inv_num" name="inv_num" required />
            </clr-input-container>
            <clr-input-container>
                    <label>Invoice Date</label>
                    <input clrInput type="date" [(ngModel)]="newInv.inv_date" name="inv_date" clrDate />
                </clr-input-container>
            <clr-input-container>
                <label>Name</label>
                <input clrInput type="text" [(ngModel)]="newInv.line_name" name="line_name" required />
            </clr-input-container>
            <clr-input-container>
                <label>Net Amount</label>
                <input clrInput type="text" [(ngModel)]="newInv.net_amount" name="net_amount" required />
            </clr-input-container>
            <clr-input-container>
                <label>PO</label>
                <input clrInput type="text" [(ngModel)]="newInv.po_num" name="po_num" required />
            </clr-input-container>
            <clr-input-container>
                <label>Description</label>
                <input clrInput type="text" [(ngModel)]="newInv.description" name="description" required />
            </clr-input-container>
            <clr-input-container>
                <label>Project ID</label>
                <input clrInput type="text" [(ngModel)]="job.proj_id" name="proj_id" readonly />
            </clr-input-container>
            <clr-input-container>
                <label>Created By</label>
                <input clrInput type="text" [(ngModel)]="newInv.created_by" name="created_by" value="logUser" readonly />
            </clr-input-container>


        </form>
    </clr-wizard-page>
</clr-wizard>
<clr-wizard #editInvWizard [(clrWizardOpen)]="editInvOpen" clrWizardSize="lg" (clrWizardOnFinish)="updateInv()">
    <clr-wizard-title>Edit Invoice</clr-wizard-title>
    <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
    <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>
    <clr-wizard-page *ngIf="job && editInv">
        <ng-template clrPageTitle>Invoice {{editInv.inv_num}}</ng-template>
        <form clrForm horizontal>
            <div class="toggle-switch">
                <input type="checkbox" [(ngModel)]="editInv.is_change_order" name="is_change_order" id="toggle_1">
                <label for="toggle_1">Change Order</label>
            </div>
            <clr-input-container>
                <label>Invoice #</label>
                <input clrInput type="text" [(ngModel)]="editInv.inv_num" name="inv_num" required />
            </clr-input-container>
            <clr-input-container>
                    <label>Invoice Date</label>
                    <input clrInput type="date" [ngModel]="editInv.inv_date | date:'shortDate'" (ngModelChange)="editInv.inv_date=$event" name="inv_date" clrDate />
                </clr-input-container>
            <clr-input-container>
                <label>Name</label>
                <input clrInput type="text" [(ngModel)]="editInv.line_name" name="line_name" required />
            </clr-input-container>
            <clr-input-container>
                <label>Net Amount</label>
                <input clrInput type="text" [(ngModel)]="editInv.net_amount" name="net_amount" required />
            </clr-input-container>
            <clr-input-container>
                <label>PO</label>
                <input clrInput type="text" [(ngModel)]="editInv.po_num" name="po_num" required />
            </clr-input-container>
            <clr-input-container>
                <label>Description</label>
                <input clrInput type="text" [(ngModel)]="editInv.description" name="description" required />
            </clr-input-container>
            <clr-input-container>
                <label>Project ID</label>
                <input clrInput type="text" [(ngModel)]="editInv.proj_id" name="proj_id" readonly />
            </clr-input-container>


        </form>
    </clr-wizard-page>
</clr-wizard>
<clr-wizard #editJobWizard [(clrWizardOpen)]="editJobOpen" clrWizardSize="lg" (clrWizardOnFinish)="updateJob()">
    <clr-wizard-title>Edit Job</clr-wizard-title>

    <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
    <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

    <clr-wizard-page *ngIf="job">
        <ng-template clrPageTitle>Job Details: {{job.job_num}}</ng-template>
        <form clrForm horizontal >
            <clr-input-container>
                    <label>Title</label>
                    <input clrInput type="text" [(ngModel)]="job.job_title" name="job_title" required />
                </clr-input-container>
            <clr-input-container>
                <label>Job #</label>
                <input clrInput type="text" [(ngModel)]="job.job_num" name="job_num" (blur)="concatProjID()" required />
            </clr-input-container>
            <clr-select-container>
                <label>Mutual</label>
                <select clrSelect name="mutual" [(ngModel)]="job.mutual" name="mutual" (blur)="concatProjID()" required>
                <option>GRF</option>
                <option>Third</option>
                <option>United</option>
                </select>                            
            </clr-select-container>
            <clr-input-container>
                    <label>GL Code</label>
                    <input clrInput type="text" [(ngModel)]="job.gl_num" name="gl_num"  />
                </clr-input-container>
            <clr-input-container>
                <label>Project ID</label>
                <input clrInput type="text" [(ngModel)]="job.proj_id" name="proj_id" required />
            </clr-input-container>
            <clr-input-container>
                <label>Budget</label>
                <input clrInput type="text" [(ngModel)]="job.budget" name="budget" required />
            </clr-input-container>
            <clr-input-container>
                    <label>Budget Year</label>
                    <input clrInput type="text" [(ngModel)]="job.year" name="year" required />
                </clr-input-container>
            <clr-input-container>
                <label>Assigned To</label>
                <input clrInput type="text" [(ngModel)]="job.assigned_to" name="assigned_to" required />
            </clr-input-container>



        </form>
    </clr-wizard-page>

</clr-wizard>
<clr-modal [(clrModalOpen)]="delModal">
        <h3 class="modal-title">Delete Invoice</h3>
        <div class="modal-body" *ngIf="deletedInv">
            <p>Are your sure you want to delete invoice <strong>{{deletedInv.inv_num}}</strong>? This action is permanent and cannot be recovered.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="delModal = false">Cancel</button>
            <button type="button" class="btn btn-warning" (click)="deleteInv()">Delete</button>
        </div>
    </clr-modal>
<clr-modal [(clrModalOpen)]="reqModal">
        <h3 class="modal-title">Set Budget Year</h3>
        <div class="modal-body" *ngIf="selectedReq">
            <p>Set the budget year for Req# <strong>{{selectedReq.req_num}}</strong>? This action is permanent and cannot be recovered.</p>
            <form clrForm>
                <clr-select-container>
                    <label>Budget Year</label>
                    <select clrSelect [(ngModel)]="selectedReq.budget_year" name="budget_year" >
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2018">2016</option>
                    </select>
                </clr-select-container>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="reqModal = false">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="changeReqYear()">Update</button>
        </div>
    </clr-modal>