<div class="login-wrapper">
    <form class="login">
        <section class="title">
            <h3 class="welcome">Welcome to</h3>
            Projects Costing App
            <div class="alert alert-danger" role="alert">
                <div class="alert-items">
                    <div class="alert-item static">
                        <div class="alert-icon-wrapper">
                            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                        </div>
                        <span class="alert-text">
                            Access is denied.
                        </span>
                    </div>
                </div>
            </div>
            <h5 class="hint">Please contact your supervisor to request access</h5>
        </section>
    </form>
</div>