<section>
<table class="table">
        <thead>
            <tr>
                <th>Feature</th>
                <th>Component</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Budget Graph</td>
                <td>Dashboard</td>
                <td>To Be Done</td>

            </tr>
            <tr>
                    <td>User Access Levels</td>
                    <td>Administrator Panel</td>
                    <td>To Be Done</td>

            </tr>
            <tr>
                    <td>Compiled Budgets</td>
                    <td>Manager View</td>
                    <td>To Be Done</td>

            </tr>
            <tr>
                    <td>Job Filter Views</td>
                    <td>Job List</td>
                    <td>To Be Done</td>
            </tr>
            <tr>
                    <td>Job Filter Views</td>
                    <td>Job List</td>
                    <td>To Be Done</td>
            </tr>
            <tr>
                    <td>Help Articles</td>
                    <td>Documentation</td>
                    <td>To Be Done</td>
            </tr>
        </tbody>
    </table>
</section>